@import "tailwindcss";

@theme {
  --color-terre: #A8531F;
  --color-mil: #D9A441;
  --color-baobab: #2E2117;
  --color-nuit-diourbel: #23404A;
  --color-sable: #F1E7D3;
  --color-vert-feuille: #5C7A44;

  --font-serif: var(--font-fraunces);
  --font-sans: var(--font-inter);
}

:root {
  --background: var(--color-sable);
  --foreground: var(--color-baobab);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  @apply antialiased;
}
